#studentmain{
    background-image: url(https://img.freepik.com/free-photo/portrait-young-female-basketball-player_23-2151098155.jpg?t=st=1719988888~exp=1719992488~hmac=0b2372329b215aa57b71593f8b2e7a6ec6650c9ed82f7662d3b1054b0e3f682c&w=1380);
background-size: cover;
 background-repeat: no-repeat;
    height: 100vh;
    
    
}