.form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 10px;
    background-color: #ffffff;
    padding: 10px;
    width: 430px;
    border-radius: 20px;
    /* border: 2px solid rgba(0, 0, 0, 0.575); */
    box-shadow: 2px 3px 10px  black;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  ::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .form button {
    align-self: flex-end;
  }
  
  .flex-column > label {
    color: #151717;
    font-weight: 600;
  }
  
  .inputForm {
    border: 1.5px solid #ecedeccc;
    border-radius: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding: 2px;
    transition: 0.2s ease-in-out;
  }
  
  .input {
    margin-left: 10px;
    border-radius: 10px;
    border: none;
    width: 85%;
    height: 100%;
  }
  
  .input:focus {
    outline: none;
  }
  
  .inputForm:focus-within {
    border: 1.5px solid #2d79f3;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
  }
  
  .flex-row > div > label {
    font-size: 14px;
    color: black;
    font-weight: 400;
  }
  
  .span {
    font-size: 14px;
    margin-left: 5px;
    color: #2d79f3;
    font-weight: 500;
    cursor: pointer;
  }
  
  .button-submit {
    margin: 20px 0 10px 0;
    background-color: #151717;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    cursor: pointer;
  }
  
  .button-submit:hover {
    background-color: #252727;
  }
  
  .p {
    text-align: center;
    color: black;
    font-size: 14px;
    margin: 5px 0;
  }
  
  .btn {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    gap: 10px;
    border: 1px solid #ededef;
    background-color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .btn:hover {
    border: 1px solid #2d79f3;
    ;
  }
  
  .main-authdiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 10px;
    background: url(https://img.freepik.com/free-photo/green-grass-cinematic-lighting-football-stadium_1409-7657.jpg?t=st=1719915305~exp=1719918905~hmac=30476840a5c4dd2ce38a58a8230611f9be91ef11166dde4af7c1aa550192eb7d&w=1060);
    /* ../../assest/pexels-pixabay-46798.jpg */

    background-size: cover; 
    background-repeat: no-repeat; 
  }

  .signuptoggler{
    padding: 3px 8px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.452);
    border-radius: 10px;
  }
  .signuptoggler:hover{
    border: 2px solid rgb(26, 20, 20);
  }

  .tabs {
    display: flex;
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
    padding: 0.75rem;
    border-radius: 99px;
    display: flex;
    justify-content: space-between;
  }
  
  .tabs * {
    z-index: 2;
  }
  
  .container input[type="radio"] {
    display: none;
  }
  
  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 50px;
    font-size: .8rem;
    color: black;
    font-weight: 500;
    border-radius: 99px;
    cursor: pointer;
    transition: color 0.15s ease-in;
    padding: 0px 10px;
  }
  
  .notification {
    display: flex;
    align-items: center;
    justify-content: center;
    width: .8rem;
    height: .8rem;
    position: absolute;
    top: 10px;
    left: 30%;
    font-size: 10px;
    margin-left: 0.75rem;
    border-radius: 50%;
    margin: 0px;
    background-color: #e6eef9;
    transition: 0.15s ease-in;
  }
  
  .container input[type="radio"]:checked + label {
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    padding: 0px 10px;
  }
  
  .container input[type="radio"]:checked + label > .notification {
    background-color: #185ee0;
    color: #fff;
    margin: 0px;
  }
  
  .container input[id="radio-1"]:checked ~ .glider {
    transform: translateX(0);
  }
  
  .container input[id="radio-2"]:checked ~ .glider {
    transform: translateX(100%);
  }
  
  .container input[id="radio-3"]:checked ~ .glider {
    transform: translateX(200%);
  }
  
  .glider {
    position: absolute;
    display: flex;
    height: 30px;
    width: 50px;
    background-color: #e6eef9;
    z-index: 1;
    border-radius: 99px;
    transition: 0.25s ease-out;
  }
  
  @media (max-width: 700px) {
   
    .tabs {
      transform: scale(0.6);
    }
  }
  